In [13]:
import pandas as pd
import numpy as np

In [14]:
#importing the data
data_set=pd.read_csv('student_scores - student_scores.csv')

In [15]:
data_set.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [16]:
#Dividing the data into inputs X and outputs Y
X=data_set.iloc[:,0].values
y=data_set.iloc[:, 1].values

In [17]:
#splitting the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=4)

In [18]:
#creating the model
from sklearn.linear_model import LinearRegression 
model= LinearRegression()

In [19]:
X_train2=X_train.reshape(-1,1)
model.fit(X_train2, y_train)

LinearRegression()

In [20]:
#prediction 
X_test2=X_test.reshape(-1,1)
y_predict=model.predict(X_test2)

In [21]:
#comparison berween predicted vs test data
data2=pd.DataFrame({'pred':y_predict , 'test':y_test })
data2

        pred  test
0  40.604168    35
1  50.481812    54
2  27.763230    21
3  87.029097    75
4  47.518519    41

In [22]:
#evaluating the model
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [41]:
MAE=mean_absolute_error(y_test,y_predict)
R2=r2_score(y_test,y_predict)
print('MAE: ', MAE, '\nR2: ', R2)

MAE:  6.8866403471761775
R2:  0.8345792140066828

In [60]:
#predicting the score y of a specific number of hours x
example=np.array(9.25)
example2=example.reshape(-1,1)
result=model.predict(example2)
print('the score for a student that studies for 9.25 hours = ' , result, '%')

the score for a student that studies for 9.25 hours =  [94.43733048] %